.nav {
    background: linear-gradient(110deg, #fdcd3b 80%, #ffed4b 60%);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2;
}
.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
.nav ul a {
    font-weight: 700;
}
.site-title {
    color: black;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem;
}
.nav li.active {
    background: linear-gradient(90deg, #fdcd3b 30%, #ffed4b 40%,#fdcd3b 100%);
}
.nav li:hover {
    background: linear-gradient(90deg, #fdcd3b 30%, #ffed4b 40%,#fdcd3b 100%);
}
